<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>用户表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css">  
	<link rel="stylesheet" href="/cssimg/style.css" type="text/css">
	<link rel="stylesheet" href="cssimg/alertform.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>  
	<script type="text/javascript" src="js/pdfobject.min.js"></script>
	<style>
	.pdfobject-container { height: 500px;weight: 800x}
	.pdfobject { border: 1px solid #666; }
	</style>
			    <script type="text/javascript">
	    __PDFJS__
	    </script>
</head>
<body>
<div id="mainbox" style="display:__DOCSTYLE__">
	<div id="userinfobox">
		<div id="userinfoinbox">
		<table width="100%"><tr><td align="left"></td><td align="center">__TREEPATH__</td><td><li align="right"><a href="__SRCFILEPATH__" download="__SRCFILENAME__">下载</a></td></tr></table>
__FILEBODY__
</div></div></div>
 <div class="panel panel-primary" id="pdfitem" style="display:__PDFITEMSTYLE__;">

 </div>
</body>
</html>