
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>中国人民银行会计财务制度电子手册-巴彦淖尔市中心支行</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="cssimg/login3.css" rel="stylesheet" type="text/css" />
<script language=javascript>
function chk_box(theBox)
{
var tmp1 = theBox.name.substr( 0, theBox.name.length - 1 )+'1';
var tmp2 = theBox.form[tmp1];
	if ( theBox.value == 0 )
{		theBox.value = 1;
		tmp2.value = 1;
}	else
{		theBox.value = 0;
		tmp2.value = 0;
}}
</script>

<script language="javascript">
<!--
function script_juge(fm)
{
	if ( fm.uid_登录名称_textboxen_4_50_1_1.value == '' )
	{
		alert('请输入登录名称');
		if (fm.uid_登录名称_textboxen_4_50_1_1.type !='hidden')
		fm.uid_登录名称_textboxen_4_50_1_1.focus();
		return false;
	}
	if ( ( fm.uid_登录名称_textboxen_4_50_1_1.value.length  < 4 )||( fm.uid_登录名称_textboxen_4_50_1_1.value.length >50 ) )
	{
		alert('登录名称长度必须为4-50之间!');
		if ( fm.uid_登录名称_textboxen_4_50_1_1.type != 'hidden' )
	{
		fm.uid_登录名称_textboxen_4_50_1_1.focus();
		fm.uid_登录名称_textboxen_4_50_1_1.select();
	}
		return false;
	}
	var myReg =/^[\u4e00-\u9fa5@a-z0-9A-Z_\-\. \:\|\/\=#]{0,280}$/;
	var myStr = fm.uid_登录名称_textboxen_4_50_1_1.value;
	if ( myReg.test( myStr ) != true )
	{
		alert('登录名称含有非法字符请检查，请检查!');
		if ( fm.uid_登录名称_textboxen_4_50_1_1.type != 'hidden' )
	{
		fm.uid_登录名称_textboxen_4_50_1_1.focus();
		fm.uid_登录名称_textboxen_4_50_1_1.select();
	}
		return false;
	}
	if ( fm.passwd_登录密码_textboxen_4_20_1_1.value == '' )
	{
		alert('请输入登录密码');
		if (fm.passwd_登录密码_textboxen_4_20_1_1.type !='hidden')
		fm.passwd_登录密码_textboxen_4_20_1_1.focus();
		return false;
	}
	if ( ( fm.passwd_登录密码_textboxen_4_20_1_1.value.length  < 4 )||( fm.passwd_登录密码_textboxen_4_20_1_1.value.length >20 ) )
	{
		alert('登录密码长度必须为4-20之间!');
		if ( fm.passwd_登录密码_textboxen_4_20_1_1.type != 'hidden' )
	{
		fm.passwd_登录密码_textboxen_4_20_1_1.focus();
		fm.passwd_登录密码_textboxen_4_20_1_1.select();
	}
		return false;
	}
	var myReg =/^[\u4e00-\u9fa5@a-z0-9A-Z_\-\. \:\|\/\=#]{0,280}$/;
	var myStr = fm.passwd_登录密码_textboxen_4_20_1_1.value;
	if ( myReg.test( myStr ) != true )
	{
		alert('登录密码含有非法字符请检查，请检查!');
		if ( fm.passwd_登录密码_textboxen_4_20_1_1.type != 'hidden' )
	{
		fm.passwd_登录密码_textboxen_4_20_1_1.focus();
		fm.passwd_登录密码_textboxen_4_20_1_1.select();
	}
		return false;
	}
	fm.formname.value = fm.name;
return true;
}
//-->
</script>
</head>
<body>
<div class="bgplus" style="background-image: url(images/1.jpg);">


<h1><img src="/images/rhlogo.png" style="width:54px;height:49px;" />中国人民银行会计财务制度电子手册</h1>
<div class="login" style="margin-top:50px;">    
    <div class="header">
        <div class="switch" id="switch"><a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);" tabindex="7">巴彦淖尔市中心支行</a>
			<div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
        </div>
    </div>       
    <div class="web_qr_login" id="web_qr_login" style="display: block; height: 235px;">    
            <!--登录-->
            <div class="web_login" id="web_login">
               <div class="login-box">
    
            
			<div class="login_form">
				<form action="/urlDiffluence.php" onsubmit="return script_juge(this);"  name="form_0_webadmin.user" accept-charset="utf-8" id="login_form" class="loginForm" method="post"><input type="hidden" name="did" value="0"/>
               <input type="hidden" name="to" value="log"/>
                <div class="uinArea" id="uinArea">
                <label class="input-tips" for="u">帐号：</label>
                <div class="inputOuter" id="uArea">
                    
                    <input type="text" id="u" name="uid_登录名称_textboxen_4_50_1_1" class="inputstyle"/>
                </div>
                </div>
                <div class="pwdArea" id="pwdArea">
               <label class="input-tips" for="p">密码：</label> 
               <div class="inputOuter" id="pArea">
                    
                    <input type="password" id="p" name="passwd_登录密码_textboxen_4_20_1_1" value="" class="inputstyle"/>
                </div>
                </div>
               
                <div style="padding-left:50px;margin-top:20px;"><input type="submit" value="登 录" style="width:150px;" class="button_blue"/></div>
              </form>
           </div>
           
            	</div>
               
            </div>
            <!--登录end-->
  </div>
</div>
</div>
</body></html>