<html>
<head>
<title>__TITLE__-新建项</title>
<link rel="stylesheet" href="/cssimg/style.css" type="text/css">
</head>
<body>
<form name="form_2_webadmin.treemenu" method=post action="/appMenu.php?opt=delFlagSave&menuID=__MENUID__" onsubmit='javascript:return script_juge(this);'>
上层目录为：__MENUPATH__</br>
类型：__MENUTYPE__
名称：__MENUNAME__<br>
显示顺序号：__SORTVALUE__<br>
子项数量:__SUBNODENUM__<br>
<input type=hidden name="MenuId_父结点_integer_1_10_1_1" size=40 maxlength=40 value="__MENUID__"><br>
<input type=submit name=button_tmp1 value="保存">
</form>
</body>
</html>