<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<title>无标题文档</title>
<link href="css/stylesrc.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="js/jquery-ui.js"></script>
<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});

	
	$('.lefttop').click(function(){
		var $dl = $(this).next('dl');
		$('dd').find('ul').slideUp();

		$('dl').slideUp();
		if($dl.is(':visible')){
			$(this).next('dl').slideUp();
		}else{
			$(this).next('dl').slideDown();
		}

	});
	
})

</script>
</head>
<body style="background:#f8f8fd;">
  __MENUBODY__
</body>
</html>