<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".html" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <clear />
                <rule name="htmlfile" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*\.html)" />
                    <action type="Rewrite" url="static/{R:1}" />
                </rule>
                <rule name="staticfile" stopProcessing="true">
                    <match url="(.*)\.(js|css|jpeg|jpg|png|gif)$" />
                    <action type="Rewrite" url="static/{R:1}.{R:2}" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="/index.html">
                    <add key="(.*\.html)" value="static/{R:1}" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
        <handlers>
            <remove name="FastCGI" />
            <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\wnmp\php-5.6.33-nts-Win32-VC11-x86\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" verbosity="Error" />
                </add>
                <add path="*.php">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <httpRedirect exactDestination="true" />
    </system.webServer>
    <system.web>
        <roleManager enabled="true" />
    </system.web>
</configuration>
