<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<title>网站后台管理系统HTML模板--模板之家 www.cssmoban.com</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-ui.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  location.href="/departmentManage.php?opt=addFlag";
  });
  
  $(".tiptop a").click(function(){
  alert('222');
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">设置</a></li>
    </ul>
    </div>
        <div class="tools">
      	<ul class="placeul">
        <li>本日登录次数：<font color=red>__LOGINONEDAY__</font></li><li>7日登录次数：<font color=red>__LOGINSEVENDAY__</font></li><li>30日内登录次数：<font color=red>__LOGINMONTHDAY__</font></li><li>365日内登录次数：<font color=red>__LOGINYEARDAY__</font></li>
        <li>本日阅读次数：<font color=red>__READONEDAY__</font></li><li>7日阅读次数：<font color=red>__READSEVENDAY__</font></li><li>30日内阅读次数：<font color=red>__READMONTHDAY__</font></li><li>365日内阅读次数：<font color=red>__READYEARDAY__</font></li>
        </ul> 
   
    <div class="rightinfo">

    </div>
    <div class="tools">
    
    	<ul class="toolbar">
        <li class="click"><span><img src="images/t01.png" /></span>添加</li>
        </ul>    
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>部门名称</th>
        <th>显示顺序号</th>
        <th>管理帐号</th>
        <th>浏览帐号</th>
        <th>填加时间</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <!--mapdata-->
        <tr>

        <td>__NAME__</td>
        <td>__SORTVALUE__</td>
        <td>__UID__</td>
                <td>__VIEWUID__</td>
        <td>__REGTIME__</td>
        <td><a href="/departmentManage.php?opt=editFlag&id=__ID__" class="tablelink">修改</a>     <a href="/departmentManage.php?opt=delFlag&id=__ID__" class="tablelink"> 删除</a></td>
        </tr> 
          <!--mapdata-->
        </tbody>
    </table>
    

    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
</body>
</html>
